div.container.mx-auto
  div.flex.flex-col.space-y-2.px-4
    a.bg-blue-500.text-white.font-semibold.py-2.px-4.rounded(href='/timestamp' class='hover:bg-blue-600')
      | Timestamp
    a.bg-blue-500.text-white.font-semibold.py-2.px-4.rounded(href='/request-header-parser' class='hover:bg-blue-600')
      | Request Header Parser
    a.bg-blue-500.text-white.font-semibold.py-2.px-4.rounded(href='/url-shortener' class='hover:bg-blue-600')
      | URL Shortener
    a.bg-blue-500.text-white.font-semibold.py-2.px-4.rounded(href='/exercise-tracker' class='hover:bg-blue-600')
      | Exercise tracker
    a.bg-blue-500.text-white.font-semibold.py-2.px-4.rounded(href='/file-metadata' class='hover:bg-blue-600')
      | File Metadata