<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timestamp Microservice | freeCodeCamp.org</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

  <h1 class="text-3xl font-bold mt-5">Backend Projects</h1>

  <div class="container mx-auto">
    <div class="flex flex-col space-y-2 px-4">
      <a href="/timestamp" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
        Timestamp
      </a>
      <a href="/request-header-parser" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
        Request Header Parser
      </a>
      <a href="/url-shortener" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
        URL Shortener
      </a>
      <a href="/exercise-tracker" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
        Exercise tracker
      </a>
      <a href="/file-metadata" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
        File Metadata
      </a>
    </div>
  </div>

  <hr />

  <div class="footer">
    <p>
      By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
    </p>
  </div>
</body>

</html>