extends layout.pug 

block main-content
  .container.mx-auto
    h2.text-3xl Timestamp
    h3 Example Usage:
    ul
      li
        a(href='api/timestamp/2015-12-25') [project url]/api/timestamp/2015-12-25
      li
        a(href='api/timestamp/1451001600000') [project url]/api/timestamp/1451001600000
    h3 Example Output:
    p
      code
        | {
        | "unix": 1451001600000, 
        br
        | "utc": "Fri, 25 Dec 2015 00:00:00 GMT"
        | }
