extends layout.pug 

block main-content 
  .container.mx-auto
    h2.text-3xl URL Shortener
    form(action='api/shorturl' method='POST')
      fieldset
        legend URL Shortener
        label(for='url_input') URL:
        input#url_input(type='text' name='url' placeholder='https://www.freecodecamp.org/')
        input(type='submit' value='Post')
